@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Roboto Mono', monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-text: #000000;
    --color-text-low: #818c98;
    --color-background: #fafafa;
    --color-background-containers: #ffffff;
    --color-primary: #188cff;
    --color-secondary: #f2f8fd;
    --color-delete: #990f02;

    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-xl: 32px;
    --padding-xxl: 40px;
    --padding-xxxl: 48px;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 40px;
    --spacing-xxxl: 48px;

    --font-size-sm: 8px;
    --font-size-smd: 12px;
    --font-size-md: 16px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;

    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 24px;
}
